<div class="content-container">
    <div class="full-height-card">
        <mat-card class="custom-card">
            <div class="row ">  
                <div class="col-md-6">
                    <div class="image-container">
                        <img src="../../assets/images/mobile.jpg" alt="" class="image">
                    </div>
                </div>

                <div class="col-md-6 ">
                    <div class="text-block ">
                        <h2>Everything you crave, delivered.</h2>
                        <p>
                          Get a pizza or a curry delivered, or pick up some chicken chow mein from
                          the Chinese takeaway spot you’ve been meaning to try.
                        </p>
                        <div class="btn">
                        <button class="btn btn-danger btn-join">Find restaurant</button>
                    </div>
                    </div>
                </div>
            </div>
        </mat-card>
        </div>
    </div>