.center-buttons {
    display: flex;
    background: white; 
    border-radius: 20px; 
    padding: 5px 5px; 
    align-items: center;
  }
  
  .custom-toolbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: transparent !important; 
  }

  .send-icon {
    color: black; 
    transform: rotate(-41deg); 

  }
  
  .custom-input {
    border: none; 
    outline: none; 
    background: transparent; 
    color: black; 
    width: 300px; 
    font-size: medium;
  }
  
  button {
    margin: 0 0px;
    background: black;
    border: none;
    border-radius: 20px;
    color: white; 
    transition: background-color 0.3s, color 0.3s; 
  }
  
  button:hover,
  button.mat-raised-button:hover {
    background-color: white; 
    color: red; 
  }
  
  button.sign-up,
  button.sign-in {
    border: 2px solid white; 
  }
  
  button.sign-up:hover,
  button.sign-in:hover {
    border: 2px solid rgb(249, 247, 247); 
  }
  
  .material-icons {
    font-size: 18px;
  }