
  .center-buttons {
    background: rgba(255, 255, 255, 56%);
    backdrop-filter: blur(10px); 
    border-radius: 20px; 
    border-radius: 20px;
    padding: 5px 10px;
    margin: 25px 257px;
}
 
  .custom-toolbar { 
      background-color: transparent !important;  
  }
  
  button {
    margin: 0 10px;
    background: transparent; 
    border: none; 
    border-radius: 20px; 
    color: white;
    transition: background-color 0.3s, color 0.3s; 
}
  
  button:hover,
  button.mat-raised-button:hover {
    background-color: white; 
    color: red; 
}

button.mat-button.mat-accent,
button.mat-raised-button.mat-accent {
    background-color: white; 
    color: red; 
}

button.sign-up, 
button.sign-in {
    border: 2px solid white; 
}

button.sign-up:hover,
button.sign-in:hover {
    border: 2px solid rgb(249, 247, 247); 
}

.brand-part {
    font-size: 24px; 
    font-weight: bold; 
    color: white; 
}

