<mat-toolbar color="primary" class="custom-toolbar">
    <button mat-icon-button class="menu-button">
        <mat-icon>menu</mat-icon>
      </button>
   
  
   
    <div class="center-buttons">
      <button mat-button>Order</button>
      <button mat-button>Locations</button>
      <button mat-button>Contact Us</button>
      <button mat-button>About Us</button>
      <button mat-button>Add your restaurant</button>
    </div>
   
  
    <button mat-button class="sign-up">Sign Up</button>
    <button mat-button class="sign-in">Sign In</button>
  </mat-toolbar>
  