<div class="content-container">
    <div class="full-height-card">
        <mat-card class="custom-card">
            <div class="row ">
                <div class="col-md-5">
                    <div class="image-container">
                        <img src="../../assets/images/logo.png" alt="" class="image">
                    </div>
                    <p><i class="fa-regular fa-copyright fa-lg" style="color: grey;"></i> 2022 GoGrubz Ltd. All Rights Reserved.</p>
                </div>

                <div class="col-md-3">
                    <ul class="list-unstyled">
                        <li><a href="#" class="text-dark">Get Help</a></li>
                        <li><a href="#" class="text-dark">Buy gift cards</a></li>
                        <li><a href="#" class="text-dark">Add your restaurant</a></li>
                        <li><a href="#" class="text-dark">Sign up to deliver</a></li>
                        <li>
                            <a href="#" class="text-dark">Create a business account</a>
                        </li>
                        <li><a href="#" class="text-dark">Promotions</a></li>
                    </ul>
                </div>
                <div class="col-md-2">
                    <ul class="list-unstyled">
                        <li><a href="#" class="text-dark">Restaurants near me</a></li>
                        <li><a href="#" class="text-dark">View all cities</a></li>
                        <li><a href="#" class="text-dark">View all countries</a></li>
                        <li><a href="#" class="text-dark">Pickup near me</a></li>
                        <li><a href="#" class="text-dark">About Us</a></li>
                        <li><a href="#" class="text-dark"><i class="fa-solid fa-language"></i>  English</a></li>

                    </ul>
                </div>
                <div class="col-md-2 follow">
                    <p class="text-grey">FOLLOW US</p>
                    <a href="#" class="text-dark"><i class="fa-brands fa-facebook-f fa-lg"></i></a>
                    <a href="#" class="text-dark "><i class="fab fa-instagram fa-lg"></i></a>
                    <a href="#" class="text-dark"><i class="fab fa-twitter fa-lg"></i></a>
                </div>
            </div>
        </mat-card>
    </div>
</div>