<div class="content-container">
    <div class="full-height-card">
        <mat-card class="custom-card">
            <div class="row ">
                <div class="col-md-12 ">
                    <div class="image-container">
                        <img src="../../assets/images/map.jpg" alt="" class="image">
                        <div class="text-center bg-text inner">
                            <h1> Restaurants near me</h1>
                        </div>
                    </div>
                    <div class="round">
                        <img src="../../assets/images/rounded.png" alt="" class="rounded">
                    </div>
                    <div class="icon">
                     <img src="../../assets/images/plus.png" alt="" class="plus">
                     <img src="../../assets/images/minus.png" alt="" class="minus">
                    </div>
                </div>
            </div>
        </mat-card>
    </div>
</div>