<div class="content-container">
    <div class="full-height-card">

        <mat-card class="custom-card">

            <div class="row ">
                <div class="col-md-6 ">
                    <div class="text-block ">
                        <h2>Find the perfect cuisine for you.</h2>
                        <p>Start swaping right for your taste buds - yoy'll soon find the cuisine that's a perfect match
                            for your
                            cravings.</p>
                        <div class="btn">
                            <button class="btn btn-danger btn-join">Discover Cuisines</button>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="image-container">
                        <img src="../../assets/images/girls.jpg" alt="" class="image">
                    </div>
                </div>
            </div>
        </mat-card>
    </div>
</div>