<div class="content-container">
<div class="full-height-card">
    <mat-card class="custom-card">
        <div class="row ">
            <div class="col-md-6 ">
                <div class="text-block">
                    <h2>Join the movement</h2>
                    <p>Grow your business and reach new <br>customers by partnering with us.</p>
                    <div class="btn">
                        <button class="btn btn-danger btn-join">Sign up your store</button>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="image-container">
                    <img src="../../assets/images/3burger.jpg" alt="" class="image">
                </div>
            </div>
        </div>
    </mat-card>
    </div>
</div>