<div class="content-container ">
    <div class="full-height-card">
        <mat-card class="custom-card red">
            <div class="row ">
                <div class="col-md-6">
                    <div class="image-container">
                        <img src="../../assets/images/food-order.png" alt="" class="image">
                    </div>
                </div>

                <div class="col-md-6 ">
                    <div class="text-block ">
                        <h2>Download our App</h2>
                        <p>
                            Our apps gives you access to your favourite restaurants. <br>
                            Gets your food deliverd right to you</p>
                        <div class="btnm ">
                            <button class="btn btn-dark "><i class="fab fa-apple fa-lg" style="color: #fff;"></i> App Store</button>
                            <button class="btn btn-dark "><i class="fab fa-google-play fa-lg" style="color: #63E6BE;"></i> Google Play</button>
                        </div>
                    </div>
                </div>
            </div>
        </mat-card>
    </div>
</div>