.full-height-card {
    padding: 30px; 
    box-sizing: border-box;
}
  
.custom-card {
    background-color: red;  
    border-radius: 20px;  
    padding-top: 20px;  
}
  
.text-block {
    display: flex;
    flex-direction: column;
    margin: 40px 0px;
    position: relative;
    left: 35px;
}

.text-line {
    font-size: 4rem; 
    font-weight:bolder ; 
    margin: 0; 
    color: white; 
    line-height: 1.2; 
    font-family: cursive;
}

.search-container {
    display: flex;
    justify-content: flex-start; 
    position: relative;
    margin: 26px 39px;;
}

.statistics-container{
    margin: 30px 0px;
}

.image-container {
    display: flex;
    justify-content: flex-start;
    padding: 30px 20px;
}

.image {
    height: 450px;
    width: 250px;
    box-shadow: 0 15px 3px -2px rgba(95, 0, 0, 0.3);
}


@media (max-width: 768px) {
    .text-block {
        width: 90%; 
    }
     
    .search-container {
        width: 90%; 
    }
}
