<div class="full-height-card">
    <mat-card class="custom-card">
        <app-header></app-header>
        <div class="row w-100" >
          <div class="col-md-8">
            <div class="row">
            <div class="text-block">
              <p class="text-line">Why go out when,</p>
              <p class="text-line">you can grubz in</p>
            </div>
          </div>
          <div class="row">
            <div class="search-container">
                <app-searchbar></app-searchbar>
            </div>
          </div>
          <div class="row">
            <div class="statistics-container">
              <app-statistics></app-statistics>
            </div>
          </div>
        </div>
          <div class="col-md-3">
            <div class="image-container">
              <img src="../../assets/images/burger_image.png" alt="" class="image">
            </div>
          </div>
          </div>

        