<div class="content-container">
    <div class="full-height-card heading-city">
            <h2>View all cities</h2>
            <div class="row">
                <div class="col-md-4">
                    <ul class="cities">
                        <li>Aberdeen</li>
                        <li>Belfast</li>
                        <li>Birmingham</li>
                        <li>Brighton and Sussex</li>
                        <li>Cambridge and East Anglia</li>
                        <li>Cardiff</li>
                    </ul>
                </div>
                <div class="col-md-3">
                    <ul class="cities">
                        <li>Edinburgh</li>
                        <li>Glasgow</li>
                        <li>Hull</li>
                        <li>Leeds</li>
                        <li>Leicester</li>
                        <li>London</li>
                    </ul>
                </div>
                <div class="col-md-3">
                    <ul class="cities">
                        <li>Manchester</li>
                        <li>Merseyside</li>
                        <li>North East</li>
                        <li>Northampton</li>
                        <li>Milton Keynes</li>
                        <li>Nottingham</li>
                    </ul>
                </div>
                <div class="col-md-2">
                    <ul class="cities">
                        <li>Oxford</li>
                        <li>Sheffield</li>
                        <li>South Coast</li>
                        <li>South West</li>
                        <li>Stoke</li>
                    </ul>
                </div>
            </div>
    </div>
</div>