
 .restra h1 {
  font-size: 3rem;
  color: white; 
  font-weight: 900;
  line-height: 1.2 !important;
  text-align: center;
 
}

.para p {
  font-size: 1.5rem;
  color: white; 
  margin-bottom: 20px;
  text-align: center;
}
